# Build binaries
test_bin

# Local bot state & trades
bot_state.json

# Environment variables & API keys
.env
.vercel

# Node & Jest artifacts
node_modules/
coverage/

# Go test coverage
coverage.out
latency-optimizer-bin
server_test_bin

